
@{
    ViewBag.Title = "LineCallBack";
}

<h2>LineCallBack</h2>

<h2>iss:@ViewBag.data.iss</h2>
<h2>sub:@ViewBag.data.sub</h2>
<h2>aud:@ViewBag.data.aud</h2>
<h2>exp:@ViewBag.data.exp</h2>
<h2>iat:@ViewBag.data.iat</h2>
<h2>nonce:@ViewBag.data.nonce</h2>
<h2>amr:@ViewBag.data.amr[0]</h2>
<h2>name:@ViewBag.data.name</h2>
<h2>picture:@ViewBag.data.picture</h2>
<h2>email:@ViewBag.data.email</h2>
